.dimensionBtn{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #242320;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "Pixelify Sans", sans-serif;
    border: 1px solid black;
    margin: 5px;
}