.cell{
    display: flex;
    border: 1px solid black;
    flex-grow: 1;
    margin: 3%;
    background-color: #242320;
    border-radius: 5px;
}

.yellow{
    background-color: #f5c825;
}

.blue{
    background-color: #2536f5;
}