.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.dimensionBtnContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (min-width:800px){
    .btnContainer{
        width: 50vw;
    }
    .dimensionBtnContainer{
        width: 40%;
    }
}